.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 38vh;
}

.search-container{
    display: flex;
    width: 25%;
    height: 8vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    margin-top: -2rem;
}


.search-container button{
    width: 2rem;
    height: 2.4rem;
    padding-top: .2rem;
    margin: 2rem;
    margin-left: .2rem;
}

.search-container select{
    padding: .2rem;
    width: 15rem;
    height: 2.4rem;
}

.render-data img{
    width: 10rem;
    height: 15rem;
}


